{%- assign buttonBlocks = section.blocks | where: 'type', 'Button' -%}

<style>
    #{{ section.id }} {
      font-size: 16px;
      padding-top: {{ section.settings.padding_top }}em;
      padding-bottom: {{ section.settings.padding_bottom }}em;
      background-color: {{ section.settings.bg_color }};
      {% if section.settings.image %}
        background: url("{{ section.settings.image | image_url }}") no-repeat center;
        background-size: cover;

      {% endif %}
    }
    #{{ section.id }} .flex-buttons {
      flex-direction: row;
    }
    @media (max-width: 768px) {
      #{{ section.id }} {
        padding-top: 0;
        padding-bottom: 0;
      }
   
    }

    @media (max-width: 767px) {

      #{{ section.id }} {
        {% if section.settings.image_mobile %}
          background: url("{{ section.settings.image_mobile | image_url }}") no-repeat center;
          background-position: center -13rem;
        {% endif %}
      }
      
      #{{ section.id }}    .badge-c {
        top: ;
      }
    }

    #{{ section.id }} .c-section-top-subheading,
    #{{ section.id }} div,
    #{{ section.id }} h2,
    #{{ section.id }} h3 {
      color: {{ section.settings.text_color }};
    }

    #{{ section.id }} .c-section-top {
      align-items: {{ section.settings.section_top_alignment }};
      text-align: {{ section.settings.text_alignment }};
      /* padding: 2rem; */
      border-radius: 12px;

      margin: 0 auto;
    }

    #{{ section.id }} .c-section-top h2 {

      font-size: clamp(32px, 4vw, 56px) !important;
      font-style: normal;
      font-weight: 700;
      line-height: 120%; /* 57.6px */
      text-transform: capitalize;

    }

    #{{ section.id }} .c-section-top .c-t-80 {

      font-size: clamp(16px, 1.8vw, 18px);


      line-height: 120%; /* 24px */
      text-transform: capitalize;
      margin-bottom: 1.5em;
    }

    #{{ section.id }} .c-rt-wrapper {
      display: flex;
      flex-direction: column;
      align-items:
      {% case section.settings.blocks_alignment %}
        {% when 'Left' %}
          flex-start; text-align: left
        {% when 'Center' %}
          center; text-align: center
        {% when 'Right' %}
          flex-end; text-align: right
      {% endcase %};
      margin-right: auto;
      margin-left: auto;
      gap: 1em;
      width: {{ section.settings.section_width }}%;
    }

    #{{ section.id }} .c-rt-paragraph {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 1.125em;
    }

    #{{ section.id }} .c-rt-timer {
      margin: 0 auto;
    }

    #{{ section.id }} .c-rt-timer {
      font-size: 3em;
      font-weight: 700;
      color: #C32127;
      text-align: center;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
    }

    #{{ section.id }} .c-rt-timer #timer-count {
      display: flex;
      gap: 1.5em;
      {%- if buttonBlocks != empty -%}margin-top: 20px;{%- endif -%}
    }

    #{{ section.id }} .c-button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }

    #{{ section.id }} .c-cta-button {
      padding: 12px 24px;
      font-size: clamp(16px, 1.8vw, 18px);
      font-weight: 700;
      color: white;
      border-radius: 10px;
      background: linear-gradient(90deg, #0E83F9 0%, #084D93 100%);
      text-transform: uppercase;
      text-decoration: none;
    }

    #{{ section.id }} .c-cta-button:hover {

        background-color: #0E83F9; /* Cambia el background a color sólido */
        background-image: none; /* Asegúrate de que no se aplique ningún gradiente */


    }

    @media (max-width: {{ settings.c_breakpoint3 }}px) {
      #{{ section.id }} {
        {% if section.settings.image_mobile %}
          background: url("{{ section.settings.image_mobile | image_url }}") no-repeat center;
        {% endif %}
      }

      #{{ section.id }} .c-rt-wrapper {
        width: 100%;
      }

      #{{ section.id }} .c-rt-button-div {
        flex-direction: column;
      }

      #{{ section.id }} .c-section-top h2 {
        font-size: 24px;
      }

      #{{ section.id }} .c-section-top .c-t-80 {
        font-size: 16px;
      }

      #{{ section.id }} .c-cta-button {
        font-size: 14px;
        padding: 10px 20px;
      }
    }

    #{{ section.id }} strong {
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #{{ section.id }} .campaign-high-text {
      background: linear-gradient(90deg, #B41E20 0%, #0E83F9 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    #{{ section.id }}  .c-cta-button {
      background: linear-gradient(90deg, #B41E20 0%, #0E83F9 100%);
    }

    #{{ section.id }}  .outline-button {
      border-radius: 10px;
      border: 2px solid #B41E20;
      color: #B41E20;
      text-transform: uppercase;
    }


  #{{ section.id }} .outline-button:hover {
      background-color: #B41E20;
     color: #FFFFFF;
    }

    #{{ section.id }}   .img-top {
      top: 27%
    }

    @media (max-width: 1200px) {
      #{{ section.id }}   .topnone {
        top: -10%;
      }

      #{{ section.id }} .flex-buttons {
        flex-direction: column;
      }

      #{{ section.id }}    .img-top img {
        width: 85%;
      }

    }


    @media (max-width: 700px) {
      #{{ section.id }}    .badge-c {
        top: 10rem;
      }
    }
</style>

<section id="{{ section.id }}" class="c-section">
  <div class="page-width" style="padding-top: 42px; padding-bottom: 42px;">
    <div class="c-section-top tw-flex tw-flex-wrap md:tw-flex-nowrap">
      <div class="tw-block md:tw-hidden tw-w-full tw-relative">
        {% for block in section.blocks %}
          {% if block.type == 'banner' %}
            <div class="tw-flex topone tw-items-center tw-gap-4 tw-bg-white tw-shadow-md tw-rounded-full tw-px-4 tw-py-2 tw-relative tw-top-0 tw-left-0 tw-ml-4 tw-mt-4 tw-z-10">
              <!-- Icono dinámico -->
              <div class="tw-w-8 tw-h-8">
                <img
                  src="{{ block.settings.icon | image_url }}"
                  alt="{{ block.settings.icon_alt | escape }}"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
              <!-- Texto dinámico -->
              <div>
                <p class="tw-text-sm tw-font-semibold tw-text-blue-600">{{ block.settings.title }}</p>
                <p class="tw-text-sm tw-text-gray-800">{{ block.settings.subtitle }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <img
          src="{{ section.settings.custom_image | image_url }}"
          alt="Background Image"
          class="tw-w-full tw-h-auto tw-object-contain"
        >

        {% if section.settings.sale_badge != blank %}
          <div class="tw-absolute badge-c tw-top-0 tw-right-0 tw-z-10">
            {{ section.settings.sale_badge | image_url: width: 200 | image_tag: class: 'tw-max-w-[125px] tw-h-auto' }}
          </div>
        {% endif %}
      </div>

      <div class="tw-w-full md:tw-w-6/12">
        <div class="tw-flex tw-flex-col md:tw-flex-row tw-items-center  tw-gap-2">
          <!-- Estrellas SVG -->
          {% unless section.settings.stars_below_button %}
            <div class="tw-flex  tw-gap-1">
              {% for i in (1..5) %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M3.6123 15.4427C3.22586 15.6413 2.78829 15.2942 2.86609 14.8508L3.69582 10.1213L0.173489 6.76462C-0.155692 6.45092 0.0147086 5.87737 0.455698 5.81472L5.35417 5.11885L7.53829 0.792305C7.73504 0.402565 8.26801 0.402565 8.46476 0.792305L10.6489 5.11885L15.5474 5.81472C15.9883 5.87737 16.1587 6.45092 15.8296 6.76462L12.3072 10.1213L13.137 14.8508C13.2148 15.2942 12.7772 15.6413 12.3908 15.4427L8.00153 13.1868L3.6123 15.4427Z" fill="#F9B70E"/>
                </svg>
              {% endfor %}
            </div>
          {% endunless %}
          <span class="tw-text-lg tw-font-bold tw-text-center md:tw-text-left">
            {{ section.settings.headline | escape }}
          </span>
        </div>

        {%- if section.settings.section_top_heading != empty -%}
          <h2 class="tw-mb-5  tw-text-center md:tw-text-start">
            {{ section.settings.section_top_heading }}
            {% if section.settings.highlighted_text -%}
              <br>
              <strong class="campaign-high-text">{{ section.settings.highlighted_text }}</strong>
            {%- endif %}
          </h2>
          {% if section.settings.small_text %}
            <p style="font-size: 16px; font-weight: 900; margin-bottom: 16px;" class="tw-text-center md:tw-text-left">
              {{ section.settings.small_text }}
            </p>
          {% endif %}
        {%- endif -%}

        <div class=" md:tw-w-full">
          {%- if section.settings.section_top_paragraph != empty -%}
            <div class="c-t-80 tw-text-center md:tw-text-start">{{ section.settings.section_top_paragraph }}</div>
          {%- endif -%}
        </div>

        <div class="flex-buttons md:tw-w-full tw-flex tw-gap-3 tw-mx-2 tw-my-5 ">
          <a
            class="tw-w-full md:tw-w-6/12 lg:tw-w-6/12 tw-text-center c-cta-button {{ section.settings.button_style }}"
            href="{{ section.settings.button_url | default: '#' }}"
          >
            {{ section.settings.button_text | default: 'Get My Water Chiller' }}
          </a>

          {% if section.settings.show_second_button %}
            <a
              class="tw-w-full tw-text-center md:tw-w-6/12 ancle outline-button tw-border-2 tw-font-bold tw-px-6 tw-py-3 tw-rounded-lg hover:tw-text-white hover:tw-border-white tw-transition tw-duration-300 {{ section.settings.button_style }}"
              href="{{ section.settings.second_button_url | default: '#' }}"
            >
              {{ section.settings.second_button_text | default: 'Learn More' }}
            </a>
          {% endif %}
        </div>
        {% if section.settings.stars_below_button %}
          <div class="tw-flex tw-gap-1 tw-items-center tw-justify-center md:tw-justify-start">
            {% for i in (1..5) %}
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M3.6123 15.4427C3.22586 15.6413 2.78829 15.2942 2.86609 14.8508L3.69582 10.1213L0.173489 6.76462C-0.155692 6.45092 0.0147086 5.87737 0.455698 5.81472L5.35417 5.11885L7.53829 0.792305C7.73504 0.402565 8.26801 0.402565 8.46476 0.792305L10.6489 5.11885L15.5474 5.81472C15.9883 5.87737 16.1587 6.45092 15.8296 6.76462L12.3072 10.1213L13.137 14.8508C13.2148 15.2942 12.7772 15.6413 12.3908 15.4427L8.00153 13.1868L3.6123 15.4427Z" fill="#F9B70E"/>
              </svg>
            {% endfor %}
            <span style="font-weight: 700">(12,741+ Reviews)</span>
          </div>
        {% endif %}
        <div class="tw-w-full tw-flex tw-flex-col tw-items-center md:tw-items-start tw-gap-0 ">
          <h3 class="tw-text-lg tw-font-bold tw-text-center md:tw-text-start tw-my-4">
            {{ section.settings.trusted_badges_text }}
          </h3>
          <div class="tw-flex tw-items-center tw-gap-2  md:tw-gap-4 tw-justify-center md:tw-justify-start ">
            <!-- Logo 1 -->
            {% assign logo_1 = section.settings.logo_1 %}
            {% if logo_1 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_1 | image_url }}"
                  alt="Logo 1"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}

            <!-- Logo 2 -->
            {% assign logo_2 = section.settings.logo_2 %}
            {% if logo_2 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_2 | image_url }}"
                  alt="Logo 2"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}

            <!-- Logo 3 -->
            {% assign logo_3 = section.settings.logo_3 %}
            {% if logo_3 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_3 | image_url }}"
                  alt="Logo 3"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}

            <!-- Logo 4 -->
            {% assign logo_4 = section.settings.logo_4 %}
            {% if logo_4 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_4 | image_url }}"
                  alt="Logo 4"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}

            {% assign logo_5 = section.settings.logo_5 %}
            {% if logo_5 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_5 | image_url }}"
                  alt="Logo 5"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}

            {% assign logo_6 = section.settings.logo_6 %}
            {% if logo_6 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_6 | image_url }}"
                  alt="Logo 6"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}

            {% assign logo_7 = section.settings.logo_7 %}
            {% if logo_7 != blank %}
              <div class="tw-max-w-[180px] tw-max-h-[180px]">
                <img
                  src="{{ logo_7 | image_url }}"
                  alt="Logo 7"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="tw-hidden md:tw-block tw-w-full md:tw-w-6/12 tw-relative">
        {% for block in section.blocks %}
          {% if block.type == 'banner' %}
            <div class="tw-flex topone tw-items-center tw-gap-4 tw-bg-white tw-shadow-md tw-rounded-full tw-px-4 tw-py-2 tw-relative tw-top-0 tw-left-0 tw-ml-4 tw-mt-4 tw-z-10">
              <!-- Icono dinámico -->
              <div class="tw-w-8 tw-h-8">
                <img
                  src="{{ block.settings.icon | image_url }}"
                  alt="{{ block.settings.icon_alt | escape }}"
                  class="tw-w-full tw-h-full tw-object-contain"
                >
              </div>
              <!-- Texto dinámico -->
              <div>
                <p class="tw-text-sm tw-font-semibold tw-text-blue-600">{{ block.settings.title }}</p>
                <p class="tw-text-sm tw-text-gray-800">{{ block.settings.subtitle }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        <img
          src="{{ section.settings.custom_image | image_url }}"
          alt="Imagen Personalizada"
          class="tw-w-full tw-h-auto tw-object-contain"
        >
        {% if section.settings.sale_badge != blank %}
          <div class="tw-absolute img-top tw-top-0 tw-right-0 tw-z-10">
            {{ section.settings.sale_badge | image_url: width: 200 | image_tag: class: 'tw-max-w-[200px] tw-h-auto' }}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="c-rt-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'PageHeading' %}
            <h1>
              {% if block.settings.show_page_title == true %}
                {{ page.title }}
              {% else %}
                {{ block.settings.page_heading }}
              {% endif %}
            </h1>
          {% when 'Heading' %}
            <h2>{{ block.settings.heading }}</h2>
          {% when 'Paragraph' %}
            <div
              style="margin: {{ block.settings.paragraph_margin }}; font-weight: {{ block.settings.paragraph_font_weight }};"
              class="c-rt-paragraph"
            >
              {{ block.settings.paragraph }}
            </div>
          {% when 'Timer' %}
            <div class="c-rt-timer">
              <p id="timer-counter"></p>
            </div>

            <script>
              var countDownDate = new Date('{{ block.settings.date }}').getTime();

              var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById('timer-counter').innerHTML =
                  days + 'Days ' + hours + 'H ' + minutes + 'M ' + seconds + 'S ';

                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById('timer-counter').innerHTML = 'EXPIRED';
                }
              }, 1000);
            </script>
        {%- endcase -%}
      {%- endfor -%}
      {%- if buttonBlocks != empty -%}
        <div class="c-rt-button-div">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'Button' -%}
                <a
                  class="c-rt-button c-button {{ block.settings.button_style }}"
                  href="{{ block.settings.button_url }}"
                >
                  {{- block.settings.button_text -}}
                </a>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "C Banner Home usa",
  "blocks": [
    {
      "name": "PageHeading",
      "type": "PageHeading",
      "limit": 50,
      "settings": [
        {
          "type": "text",
          "id": "page_heading",
          "label": "Heading",
          "default": "My heading"
        },
        {
          "type": "checkbox",
          "id": "show_page_title",
          "label": "Page Title",
          "default": false
        }
      ]
    },
    {
      "name": "Banner capaign",
      "type": "banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "icon_alt",
          "label": "Icon Alt Text",
          "default": "Support Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Support LA Fire Relief"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Warrior WillPower is donating 1% of profits."
        }
      ]
    },
    {
      "name": "Heading",
      "type": "Heading",
      "limit": 50,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "My heading"
        }
      ]
    },
    {
      "name": "Paragraph",
      "type": "Paragraph",
      "limit": 50,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
        },
        {
          "type": "text",
          "id": "paragraph_margin",
          "label": "Paragraph margin",
          "default": "0em 0em 0em 0em"
        },
        {
          "type": "text",
          "id": "paragraph_font_weight",
          "label": "Paragraph font weight",
          "default": "inherit"
        }
      ]
    },
    {
      "name": "Button",
      "type": "Button",
      "limit": 50,
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Buy Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button Link",
          "default": "/"
        },
        {
          "type": "text",
          "id": "button_style",
          "label": "Button Style",
          "default": "c-b1"
        }
      ]
    },
    {
      "name": "Timer",
      "type": "Timer",
      "limit": 50,
      "settings": [
        {
          "type": "text",
          "id": "date",
          "label": "Date",
          "default": "Jan 5, 2025 15:37:25",
          "info": "Enter the date and time in the format: Month Day, Year Hour:Minute:Second"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_image",
      "label": "pick an image"
    },
    {
      "type": "image_picker",
      "id": "sale_badge",
      "label": "Sale Badge"
    },
    {
      "type": "image_picker",
      "id": "logo_1",
      "label": "Logo 1"
    },
    {
      "type": "image_picker",
      "id": "logo_2",
      "label": "Logo 2"
    },
    {
      "type": "image_picker",
      "id": "logo_3",
      "label": "Logo 3"
    },
    {
      "type": "image_picker",
      "id": "logo_4",
      "label": "Logo 4"
    },
    {
      "type": "image_picker",
      "id": "logo_5",
      "label": "Logo 5"
    },
    {
      "type": "image_picker",
      "id": "logo_6",
      "label": "Logo 6"
    },
    {
      "type": "image_picker",
      "id": "logo_7",
      "label": "Logo 7"
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Stars Text",
      "default": "The Number One Water Chiller For Ice Bath"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Get My Water Chiller"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "button_style",
      "label": "Button Style",
      "default": "c-b1"
    },
    {
      "type": "checkbox",
      "id": "show_second_button",
      "label": "Mostrar Segundo Botón",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "stars_below_button",
      "label": "Stars Below Button",
      "default": false
    },
    {
      "type": "text",
      "id": "second_button_text",
      "label": "Second Button Text",
      "default": "Learn More"
    },
    {
      "type": "url",
      "id": "second_button_url",
      "label": "Second Button Link",
      "default": "/"
    },
    {
      "type": "text",
      "id": "trusted_badges_text",
      "label": "Trusted Badges Text",
      "default": "As Seen On"
    },
    {
      "type": "select",
      "id": "blocks_alignment",
      "label": "Alignment",
      "default": "Center",
      "options": [
        {
          "value": "Left",
          "label": "Left"
        },
        {
          "value": "Center",
          "label": "Center"
        },
        {
          "value": "Right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_width",
      "label": "Desktop section width",
      "min": 20,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Background image"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "Background image mobile"
    },
    {
      "type": "range",
      "id": "overlay",
      "label": "Background Overlay",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.5,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "text",
      "id": "section_top_heading",
      "label": "Heading",
      "default": "My heading"
    },
    {
      "type": "text",
      "id": "highlighted_text",
      "label": "Highlighted Text",
      "default": "Highlighted"
    },
    {
      "type": "text",
      "id": "small_text",
      "label": "Small Text",
      "default": "Small text"
    },
    {
      "type": "richtext",
      "id": "section_top_paragraph",
      "label": "Paragraph",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
    },
    {
      "type": "select",
      "id": "section_top_alignment",
      "label": "Section Top Alignment",
      "default": "flex-start",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "rem"
    }
  ],
  "presets": [
    {
      "name": "C Banner Home usa"
    }
  ]
}
{% endschema %}
