<style>
  #{{ section.id }} {
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
 
  }
  
  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }
  
  #{{ section.id }} h2 {
    color: {{ section.settings.accent_color }};
  }
  
  #{{ section.id }} .c-section-top {
    align-items: {{ section.settings.section_top_alignment }};
    text-align: {{ section.settings.text_alignment }};
    margin-bottom: 32px;
  }
  
  #{{ section.id }} .c-cc-grid-wrap {
    overflow: auto;
    {% if section.settings.use_grid == true %}
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      gap: 4em;
    {% endif %}
  }
  
  #{{ section.id }} .c-cc-grid {
    display: flex;
    flex-direction: column;
    min-width: 600px;
  }
  
  #{{ section.id }} .c-cc-grid-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  #{{ section.id }} .c-cc-grid-left-inner {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1em;
  }
  
  #{{ section.id }} .c-cc-grid > *:nth-child(2) > *:first-child {
    border-radius: 1em 0em 0em 0em;
  }
  
  #{{ section.id }} .c-cc-grid > *:nth-child(2) > *:last-child {
    border-radius: 0em 1em 0em 0em;
  }
  
  #{{ section.id }} .c-cc-grid > *:last-child > *:first-child {
    border-radius: 0em 0em 0em 1em;
  }
  
  #{{ section.id }} .c-cc-grid > *:last-child > *:last-child {
    border-radius: 0em 0em 1em 0em;
  }
  
  #{{ section.id }} .c-cc-grid-row {
    grid-template-columns:{% for i in (1..section.settings.columns) %} 1fr{% endfor %};
    display: grid;
    border-bottom: 2px solid {{ section.settings.bg_color }};
  }
  
  #{{ section.id }} .c-cc-grid-row:empty {
    display: none;
  }
  
  #{{ section.id }} .c-cc-grid-row.c-first-row {
    border-width: 5px;
  }
  
  #{{ section.id }} .c-cc-grid-row:not(.c-first-row) .c-cc-grid-cell:not(.c-col2) {
    background: white;
  }

    
  #{{ section.id }} .c-cc-grid-row.c-first-row .c-cc-grid-cell:not(.c-col2) {
    background: transparent;
  }
  
      
  #{{ section.id }} .c-cc-grid-row:nth-child(odd):not(.c-first-row, .c-cc-grid-row:last-child) .c-cc-grid-cell:not(.c-col2) {
    background: #DCEDFF;
  }

  #{{ section.id }} .c-cc-grid-row:last-child >.c-col2
  {
    border-radius: 0 0 1em 1em !important;
     
  }
  
  
  #{{ section.id }} .c-cc-grid-row.c-first-row .c-cc-grid-cell.c-col2 {
    border-radius: 1em 1em 0em 0em;
  }
  
  #{{ section.id }} .c-cc-grid-row.c-first-row img {
    display: none;
  }
  
  #{{ section.id }} .c-cc-grid-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5em;
    padding: 1em;
    background-color: #f1f1f1;
  }
  
  #{{ section.id }} .c-cc-grid-cell.c-col2 {
    background-color: {{ section.settings.active_bg_color }};
  }
  
  #{{ section.id }} .c-cc-grid-cell.c-col2 > * {
  }
  
  #{{ section.id }} .c-cc-grid-cell img {
    width: 1.25em;
    object-fit: contain;
  }
  
  #{{ section.id }} .c-cc-grid-cell.c-col2 img {
    width: 2.5em;
  }
  
  @media (max-width: {{ settings.c_breakpoint1 }}px) {
    {% if section.settings.use_grid == true %}
      #{{ section.id }} .c-cc-grid-wrap {
        grid-template-columns: 1fr;
        gap: 2em;
      }
    {% endif %}
  }


  #{{ section.id }} .c-col3 p{
    color: #000;
  
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  }


  #{{ section.id }}  .c-col2 p{

   
text-align: center;
 
font-size: clamp(18px, 2.5vw, 24px);

font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */

  }

  #{{ section.id }}  .c-col1 p{

   
  
    font-size: clamp(16px, 2vw, 20px);

  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
    
      }


      #{{ section.id }}   .false-image-5,
      #{{ section.id }}  .false-image-6,
      #{{ section.id }} .true-image-5,
      #{{ section.id }}   .true-image-6, #{{ section.id }}  .false-image-9 {
        display: none;
      }

      #{{ section.id }} .c-col2 p{
        color: white;
        font-size: clamp(18px, 2.5vw, 24px);

font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
      
      }

.c-section-top h2
{
  font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%;

}


      
 
</style>


<section id="{{ section.id }}" class="c-section   tw-bg-gradient-to-b tw-from-[#F0F8FF] tw-to-[#FFF] tw-mt-8" style="margin-top: 0 !important; padding: 7rem 0 !important;">
  <div class="page-width">
    <div class="c-section-top tw-flex tw-justify-content-center tw-flex-col">
      {%- if section.settings.section_top_subheading != empty -%}<p class="c-section-top-subheading">{{ section.settings.section_top_subheading }}</p>{%- endif -%}
      {%- if section.settings.section_top_heading != empty -%}
        <h2 class="tw-text-center" style="margin: 0 !important;">
          {{ section.settings.section_top_heading }}
        </h2>
      {%- endif -%}

      
      {%- if section.settings.section_top_paragraph != empty -%}<div class="c-t-80 tw-my-4 tw-text-center tw-w-full md:tw-w-8/12">{{ section.settings.section_top_paragraph }}</div>{%- endif -%}
    </div>
    <div class="c-cc-grid-wrap">
      {% if section.settings.use_grid == true %}
        <div class="c-cc-grid-left">
          <div class="c-cc-grid-left-inner">
            {%- if section.settings.subheading != empty -%}<p class="c-section-top-subheading">{{ section.settings.subheading }}</p>{%- endif -%}
            {%- if section.settings.heading != empty -%}<h2>{{ section.settings.heading }}</h2>{%- endif -%}
            {%- if section.settings.paragraph != empty -%}<div class="c-t-80">{{ section.settings.paragraph }}</div>{%- endif -%}
            {%- if section.settings.button_text != empty -%}
              <div class="c-buttons-div">
                <a class="c-button {{ section.settings.button_style }}" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
              </div>
            {%- endif -%}
          </div>
        </div>
      {% endif %}
      <div class="c-cc-grid">
        {%- for block in section.blocks -%}
          {% assign  true_image = "true-image-" | append:  forloop.index   %}
          {% assign  false_image = "false-image-"  | append:  forloop.index  %}
          {%- case block.type -%}
            {%- when 'Item' -%}
              <div class="c-cc-grid-row {% if forloop.first %}c-first-row{% endif %}" {{ block.shopify_attributes }}>
                {%- if block.settings.row_heading != empty -%}
                  <p class="c-cc-grid-cell c-col1">{{ block.settings.row_heading }}</p>
                {%- endif -%}
                {%- if block.settings.use_column1 == true -%}
                  <div class="c-cc-grid-cell c-col2">
                    <p>{{ block.settings.column1_heading }}</p>
                    <div>{{ block.settings.column1_paragraph }}</div>
                    {% if section.settings.use_true_false_icon == true %}
                      {% if block.settings.column1_true == true %}
                        {% if section.settings.icon_true_image %}
                          {{ section.settings.icon_true_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto', class: true_image }}
                        {% endif %}
                      {% else %}
                        {% if section.settings.icon_false_image %}
                          {{ section.settings.icon_false_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto', class:  false_image }}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                {%- endif -%}
                {%- if block.settings.use_column2 == true -%}
                  <div class="c-cc-grid-cell c-col3">
                    <p>{{ block.settings.column2_heading }}</p>
                    <div>{{ block.settings.column2_paragraph }}</div>
                    {% if section.settings.use_true_false_icon == true %}
                      {% if block.settings.column2_true == true %}
                        {% if section.settings.icon_true_image %}
                          {{ section.settings.icon_true_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto', class: true_image }}

                        {% endif %}
                      {% else %}
                        {% if section.settings.icon_false_image %}
                          {{ section.settings.icon_false_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto', class:  false_image }}

                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                {%- endif -%}
                {%- if block.settings.use_column3 == true -%}
                  <div class="c-cc-grid-cell c-col4">
                    <p>{{ block.settings.column3_heading }}</p>
                    <div>{{ block.settings.column3_paragraph }}</div>
                    {% if section.settings.use_true_false_icon == true %}
                      {% if block.settings.column3_true == true %}
                        {% if section.settings.icon_true_image %}
                          {{ section.settings.icon_true_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto' }}
                        {% endif %}
                      {% else %}
                        {% if section.settings.icon_false_image %}
                          {{ section.settings.icon_false_image | image_url: width: 750 | image_tag: loading: 'lazy', height: 'auto' }}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  </div>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
    {% if section.settings.show_button %}
      <div class="tw-text-center tw-mt-8">
        <a href="{{ section.settings.button_url }}" 
           class=" 
      c-cta-button tw-inline-block tw-text-white tw-font-bold tw-px-6 tw-py-3 tw-rounded-lg
      tw-bg-gradient-to-r tw-from-[#0E83F9] tw-to-[#084D93]
      tw-text-center tw-uppercase tw-transition tw-duration-300
      hover:tw-from-[#084D93] hover:tw-to-[#0E83F9]" 
           target="_blank">
          {{ section.settings.button_text }}
        </a>
      </div>
    {% endif %}
    
    
  </div>
</section>


{% schema %}
  {
    "name": "C Competitors Comparison",
    "blocks": [
      {
        "name": "Item",
        "type": "Item",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "row_heading",
            "label": "Row Heading",
            "default": "Row Heading Here"
          },
          {
            "type": "header",
            "content": "Column1"
          },
          {
            "type": "checkbox",
            "id": "use_column1",
            "label": "Use Column1",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "column1_true",
            "label": "Column1 icon true?",
            "default": false
          },
          {
            "type": "text",
            "id": "column1_heading",
            "label": "Column1 heading",
            "default": "Column1 heading"
          },
          {
            "type": "richtext",
            "id": "column1_paragraph",
            "label": "Column1 paragraph",
            "default": "<p>Lorem ipsum</p>"
          },
          {
            "type": "header",
            "content": "Column2"
          },
          {
            "type": "checkbox",
            "id": "use_column2",
            "label": "Use Column2",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "column2_true",
            "label": "Column2 icon true?",
            "default": false
          },
          {
            "type": "text",
            "id": "column2_heading",
            "label": "Column2 heading",
            "default": "Column2 heading"
          },
          {
            "type": "richtext",
            "id": "column2_paragraph",
            "label": "Column2 paragraph",
            "default": "<p>Lorem ipsum</p>"
          },
          {
            "type": "header",
            "content": "Column3"
          },
          {
            "type": "checkbox",
            "id": "use_column3",
            "label": "Use Column3",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "column3_true",
            "label": "Column3 icon true?",
            "default": false
          },
          {
            "type": "text",
            "id": "column3_heading",
            "label": "Column3 heading"
          },
          {
            "type": "richtext",
            "id": "column3_paragraph",
            "label": "Column3 paragraph"
          }
        ]
      }
    ],
    "settings": [
   
      
      {
        "type": "checkbox",
        "id": "use_grid",
        "label": "Use grid",
        "default": false
      },
      
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "default": "subheading"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Mostrar botón",
        "default": false
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "Buy Now"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link"
      },
      {
        "type": "text",
        "id": "button_style",
        "label": "Button style",
        "default": "c-b1"
      },
      {
        "type": "range",
        "id": "columns",
        "label": "Columns",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "use_true_false_icon",
        "label": "Use true/false icon",
        "default": false
      },
      {
        "type": "image_picker",
        "id": "icon_true_image",
        "label": "Icon true image"
      },
      {
        "type": "image_picker",
        "id": "icon_false_image",
        "label": "Icon false image"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "id": "active_bg_color",
        "label": "Active BG color",
        "default": "#5d3be4"
      },
      {
        "type": "color",
        "id": "accent_color",
        "label": "Accent color",
        "default": "#5D3BE4"
      },
   
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      },
      {
        "type": "header",
        "content": "Section Top"
      },
      {
        "type": "text",
        "id": "section_top_subheading",
        "label": "Subheading",
        "default": "subheading"
      },
      {
        "type": "text",
        "id": "section_top_heading",
        "label": "Heading",
        "default": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "section_top_paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "select",
        "id": "section_top_alignment",
        "label": "Section Top Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      }
    ],
    "presets": [
      {
        "name": "C Competitors Comparison",
        "blocks": [
          {
            "type": "Item"
          },
          {
            "type": "Item"
          },
          {
            "type": "Item"
          },
          {
            "type": "Item"
          }
        ]
      }
    ]
  }
{% endschema %}