<style>
    #{{ section.id }} {
      font-size: 16px;
      padding-top: {{ section.settings.padding_top }}em;
      padding-bottom: {{ section.settings.padding_bottom }}em;
      background-color: {{ section.settings.bg_color }};
    }

    #{{ section.id }} .c-section-top-subheading,
    #{{ section.id }} div,
    #{{ section.id }} h2,
    #{{ section.id }} h3 {
      color: {{ section.settings.text_color }};
    }
 

    #{{ section.id }} .c-section-top {
      align-items: {{ section.settings.section_top_alignment }};
      text-align: {{ section.settings.text_alignment }};
      padding: 0 10rem;
      margin-bottom: 80px;
    }

    #{{ section.id }} li {
      list-style-type: disc;
      display: list-item;
      list-style-position: inside;
    }

    @media (max-width: 768px) {
      #{{ section.id }} .c-section-top {
        padding: 0 1rem; /* Elimina el padding en móviles */
        margin-bottom: 1rem; /* Ajusta el margin-bottom a 1rem en móviles */
      }
    }
    

    #{{ section.id }} h2 {
      color: {{ section.settings.accent_color }};
    }

    /* Modificación para una sola columna */
    #{{ section.id }} .c-f-grid {
      display: flex;
      flex-direction: column; /* Asegura que todo esté en una sola columna */
      align-items: center; /* Centra las cards */
      gap: 1.5em; /* Espaciado entre las cards */
      width: 100%; /* Asegura que la sección ocupe todo el ancho disponible */
    }

    #{{ section.id }} .c-f-grid-left {
      width: 100%; /* Las cards ocuparán todo el ancho del contenedor */
      max-width: 100% !important; /* Limita el ancho máximo de las cards */
      margin: 0 auto; /* Centra las cards en pantallas más grandes */
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    #{{ section.id }} .c-f-card {
      width: 100%; /* Asegura que las cards ocupen todo el ancho del contenedor */
      border: 1px solid {{ section.settings.faq_text_border }};
      background: {{ section.settings.card_background }};
      padding:  0 20px ;
      border-radius: 24px !important;
      cursor: pointer;
    }

    #{{ section.id }} .c-f-card:hover {
      border-color: none;
    }

    #{{ section.id }} .c-f-card-top {
      display: flex;
      justify-content: space-between;
    }

    #{{ section.id }} .c-f-card-top p {
      font-weight: 600;
      margin: 1rem 0;
    }

    #{{ section.id }} .c-f-card-top p,
    #{{ section.id }} .c-f-answer p,
    #{{ section.id }} .c-f-plus-div svg {
      color: {{ section.settings.faq_text_border }};
    }

    #{{ section.id }} .c-f-plus-div {
      padding: 0px 5px;
      border-radius: 0px;
      margin: auto 0px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #{{ section.id }} .c-f-plus-div svg {
      width: 1.5em;
      transition: 0.3s ease;
    }

    #{{ section.id }} .c-f-answer {

      border-top: 1px solid {{ section.settings.faq_text_border }};

    }

    #{{ section.id }} .c-f-answer {
      display: none;
      transition: 0.3s ease;
    }

    #{{ section.id }} .c-f-answer > * {
      color: {{ section.settings.faq_text_border }};
    }

    #{{ section.id }} .c-f-answer a {
      text-decoration: underline;
      color: {{ section.settings.faq_text_border }};
    }

    #{{ section.id }} .c-f-active .c-f-answer {
      display: block;
    }

    #{{ section.id }} .c-f-active .c-f-plus-div svg {
      transform: rotate(135deg);
    }

    #{{ section.id }} .c-buttons-div {
      justify-content: center;
      align-items: center;
      margin-top: 3em;
    }

    #{{ section.id }} .c-f-grid-right-inner {
      position: sticky;
      top: var(--sticky-top);
    }

    @media (max-width: {{ settings.c_breakpoint3 }}px) {
      #{{ section.id }} .c-f-grid {
        grid-template-columns: 1fr; /* Asegura que todo esté en una columna en móviles */
      }

      #{{ section.id }} .c-f-grid-left {
        min-width: auto;
        width: 100%;
      }
    }

    .new__header{
      color: #000;
  text-align: center;
  
  font-size: clamp(32px, 4vw, 48px) !important;

  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  text-transform: capitalize;
  
   margin: 1rem 0;

    }

   
  .text__lightblue{
    color: #0E83F9 !important; /* Color específico para el párrafo */
  }

    
</style>

<section id="{{ section.id }}" class="c-section">
  <div class="page-width">
    <div class="c-section-top">
      {%- if section.settings.section_top_subheading != empty -%}
        <p class="c-section-top-subheading  text__lightblue">{{ section.settings.section_top_subheading }}</p>
      {%- endif -%}
      {%- if section.settings.section_top_heading != empty -%}
        <h2 class="new__header">{{ section.settings.section_top_heading }}</h2>
      {%- endif -%}
      {%- if section.settings.section_top_paragraph != empty -%}
        <div class="c-t-80 ">{{ section.settings.section_top_paragraph }}</div>
      {%- endif -%}
    </div>
    <div class="c-f-grid">
      <div class="c-f-grid-left">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'FAQ' %}
              <div class="c-f-card tw-p-3" {{ block.shopify_attributes }}>
                <div class="c-f-card-top">
                  <p>{{ block.settings.faq_heading }}</p>
                  <div class="c-f-plus-div">{% render 'icon-plus' %}</div>
                </div>
                <div class="c-f-answer !tw-py-4">{{ block.settings.faq_answer }}</div>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
    {% if section.settings.use_grid == false %}
      {%- if section.settings.button_text != empty -%}
        <div class="c-buttons-div">
          <a class="c-button c-b1" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
        </div>
      {%- endif -%}
    {% endif %}
  </div>
</section>

<script>
  document.querySelectorAll('#{{ section.id }} .c-f-card').forEach((faq) => {
    faq.addEventListener('click', () => {
      if (faq.classList.contains('c-f-active')) {
        document.querySelectorAll('#{{ section.id }} .c-f-card').forEach((faq2) => {
          faq2.classList.remove('c-f-active');
        });
        faq.classList.remove('c-f-active');
      } else {
        document.querySelectorAll('#{{ section.id }} .c-f-card').forEach((faq2) => {
          faq2.classList.remove('c-f-active');
        });
        faq.classList.add('c-f-active');
      }
    });
  });
</script>

{% schema %}
{
  "name": "C FAQs",
  "blocks": [
    {
      "name": "FAQ",
      "type": "FAQ",
      "limit": 50,
      "settings": [
        {
          "type": "text",
          "id": "faq_heading",
          "label": "Question",
          "default": "Question text goes here"
        },
        {
          "type": "richtext",
          "id": "faq_answer",
          "label": "Answer",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "use_grid",
      "label": "Use grid",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "side",
      "label": "Flip",
      "default": true
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Frequently Asked Questions</p>"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default": "<p>Have you got questions? We've got answers!</p>"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button text",
      "default": "Buy Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_style",
      "label": "Button style",
      "default": "c-b1"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "id": "accent_color",
      "label": "Accent color",
      "default": "#000000"
    },
    {
      "type": "color_background",
      "id": "card_background",
      "label": "Card colored",
      "default": "linear-gradient(262deg, rgba(93, 59, 228, 0.75), rgba(93, 59, 228, 0.3) 100%)"
    },
    {
      "type": "color",
      "id": "faq_text_border",
      "label": "Faq Card Text & border Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Section Top"
    },
    {
      "type": "text",
      "id": "section_top_subheading",
      "label": "Subheading",
      "default": "subheading"
    },
    {
      "type": "text",
      "id": "section_top_heading",
      "label": "Heading",
      "default": "My heading"
    },
    {
      "type": "richtext",
      "id": "section_top_paragraph",
      "label": "Paragraph",
      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
    },
    {
      "type": "select",
      "id": "section_top_alignment",
      "label": "Section Top Alignment",
      "default": "center",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding top",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "rem"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding bottom",
      "min": 0,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "rem"
    }
  ],
  "presets": [
    {
      "name": "C FAQs"
    }
  ]
}
{% endschema %}
