<style>
  #{{ section.id }} {
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
    background-color: {{ section.settings.bg_color }};
  }

  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  #{{ section.id }} .c-section-top {
    align-items: {{ section.settings.section_top_alignment }};
    text-align: {{ section.settings.section_top_text_alignment }};
  }

  #{{ section.id }} h2 {
    color: {{ section.settings.accent_color }};
  }

  #{{ section.id }} .c-ic-wrapper {
    column-count: 2;
    gap: 2em;
  }

  #{{ section.id }} .c-ic-card {
    display: flex;
    flex-direction: column;
  }

  #{{ section.id }} .c-ic-card-content {
    padding: 3em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }

  #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2) {
    margin-top: 2em;
  }

  #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) {
    margin-bottom: 2em;
  }

  #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2),
  #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) {
    /* flex-direction: row; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2) .c-ic-card-content,
  #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) .c-ic-card-content {
    order: 1;
    padding: 3em 1.5em;
  }

  #{{ section.id }} .c-ic-card-content > * {
    color: {{ section.settings.card_text_color }};
  }

  #{{ section.id }} .c-ic-card-image {
    height: 100%;
    display: flex;
  }

  #{{ section.id }} .c-ic-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: {{ settings.c_breakpoint2 }}px) {
    #{{ section.id }} .c-ic-wrapper {
      gap: 1em;
    }

    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2) {
      margin-top: 1em;
    }

    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) {
      margin-bottom: 1em;
    }
  }

  @media (max-width: {{ settings.c_breakpoint3 }}px) {
    #{{ section.id }} .c-ic-wrapper {
      column-count: auto;
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    #{{ section.id }} .c-ic-card-content {
      padding: 2em 1.5em;
      gap: 1em;
    }

    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2) {
      margin-top: 0em;
    }

    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) {
      margin-bottom: 0em;
    }

    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2),
    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) {
      display: flex;
    }

    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 2) .c-ic-card-content,
    #{{ section.id }} .c-ic-wrapper .c-ic-card:nth-child(4n - 1) .c-ic-card-content {
      order: 0;
    }
  }
</style>


<section id="{{ section.id }}" class="c-section">
  <div class="{{ section.settings.section_container }}">
    <div class="c-section-top">
      {%- if section.settings.section_top_subheading != empty -%}<p class="c-section-top-subheading">{{ section.settings.section_top_subheading }}</p>{%- endif -%}
      {%- if section.settings.section_top_heading != empty -%}<h2>{{ section.settings.section_top_heading }}</h2>{%- endif -%}
      {%- if section.settings.section_top_paragraph != empty -%}<div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>{%- endif -%}
    </div>
    <div class="c-ic-wrapper">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'Item' %}
            <div style="background: {{ block.settings.card_background }}; color: {{ block.settings.card_text_color }};"  class="c-ic-card" {{ block.shopify_attributes }}>
              <div class="c-ic-card-content">
                <h3>{{ block.settings.block_heading }}</h3>
                <div>{{ block.settings.block_paragraph }}</div>
              </div>
              <div class="c-ic-card-image">
                {% if block.settings.block_image %}
                  {{ block.settings.block_image | image_url: width: 1000 | image_tag: loading: 'lazy', height: 'auto' }}
                {% endif %}
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "C Image Cards",
    "blocks": [
      {
        "name": "Item",
        "type": "Item",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "block_heading",
            "label": "Heading",
            "default": "Block Heading Here"
          },
          {
            "type": "richtext",
            "id": "block_paragraph",
            "label": "Paragraph",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
          },
          {
            "type": "image_picker",
            "id": "block_image",
            "label": "Image"
          },
          {
            "type": "color_background",
            "id": "card_background",
            "label": "Background",
            "default": "linear-gradient(262deg, rgba(40, 36, 96, 1), rgba(40, 36, 96, 0.5) 100%)"
          },
          {
            "type": "color",
            "id": "card_text_color",
            "label": "Text color",
            "default": "#ffffff"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "section_container",
        "label": "Section container",
        "default": "page-width",
        "options": [
          {
            "value": "page-width",
            "label": "Normal"
          },
          {
            "value": "",
            "label": "None"
          },
          {
            "value": "page-width2",
            "label": "Smaller"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "id": "accent_color",
        "label": "Accent color",
        "default": "#5d3be4"
      },
      {
        "type": "color",
        "id": "card_text_color",
        "label": "Card Text color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Section Top"
      },
      {
        "type": "text",
        "id": "section_top_subheading",
        "label": "Subheading",
        "default": "subheading"
      },
      {
        "type": "text",
        "id": "section_top_heading",
        "label": "Heading",
        "default": "Section Heading"
      },
      {
        "type": "richtext",
        "id": "section_top_paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "select",
        "id": "section_top_alignment",
        "label": "Section Top Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "section_top_text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      }
    ],
    "presets": [
      {
        "name": "C Image Cards"
      }
    ]
  }
{% endschema %}