{%- assign buttonBlocks = section.blocks | where: 'type', 'Button' -%}

<style>
  #{{ section.id }} {
    font-size: 16px;
    padding-top: {{ section.settings.padding_top }}em;
    padding-bottom: {{ section.settings.padding_bottom }}em;
    background-color: {{ section.settings.bg_color }};
    {% if section.settings.image %}
      background: url("{{ section.settings.image | image_url }}") no-repeat center;
      background-size: cover;
      
    {% endif %}
  }

  #{{ section.id }} .c-section-top-subheading,
  #{{ section.id }} div,
  #{{ section.id }} h2,
  #{{ section.id }} h3 {
    color: {{ section.settings.text_color }};
  }

  #{{ section.id }} .c-section-top {
    align-items: {{ section.settings.section_top_alignment }};
    text-align: {{ section.settings.text_alignment }};
    padding: 2rem;
    backdrop-filter: blur(30px); /* Ajusta la cantidad de desenfoque */
    background-color: rgba(255, 255, 255, 0.55); 
    border-radius: 32px;
   
    max-width: 800px;
    margin: 0 auto;
  }

  #{{ section.id }} .c-section-top h2 {
    text-align: center;
    font-size: clamp(28px, 4vw, 38px) !important;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    text-transform: capitalize;
     
  }

  #{{ section.id }} .c-section-top .c-t-80 {
    text-align: center;
    font-size: clamp(16px, 1.8vw, 18px);

    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 24px */
    text-transform: capitalize;
    margin-bottom: 1.5em;
  }

  #{{ section.id }} .c-rt-wrapper {
    display: flex;
    flex-direction: column;
    align-items: 
    {% case section.settings.blocks_alignment %}
      {% when 'Left' %}
        flex-start; text-align: left
      {% when 'Center' %}
        center; text-align: center
      {% when 'Right' %}
        flex-end; text-align: right
    {% endcase %};
    margin-right: auto;
    margin-left: auto;
    gap: 1em;
    width: {{ section.settings.section_width }}%;
  }

  #{{ section.id }} .c-rt-paragraph {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.125em;
  }

  #{{ section.id }} .c-rt-timer {
    margin: 0 auto;
  }

  #{{ section.id }} .c-rt-timer {
    font-size: 3em;
    font-weight: 700;
    color: #C32127;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  #{{ section.id }} .c-rt-timer #timer-count {
    display: flex;
    gap: 1.5em;
    {%- if buttonBlocks != empty -%}margin-top: 20px;{%- endif -%}
  }

  #{{ section.id }} .c-button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }

  #{{ section.id }} .c-cta-button {
    padding: 12px 24px;
    font-size: clamp(16px, 1.8vw, 18px);
    font-weight: 700;
    color: white;
    border-radius: 10px;
    background: linear-gradient(90deg, #0E83F9 0%, #084D93 100%);
    text-transform: uppercase;
    text-decoration: none;
  }

  #{{ section.id }} .c-cta-button:hover {
  
      background-color: #0E83F9; /* Cambia el background a color sólido */
      background-image: none; /* Asegúrate de que no se aplique ningún gradiente */
 
    
  }

  @media (max-width: {{ settings.c_breakpoint3 }}px) {
    #{{ section.id }} {
      {% if section.settings.image_mobile %}
        background: url("{{ section.settings.image_mobile | image_url }}") no-repeat center;
      {% endif %}
    }

    #{{ section.id }} .c-rt-wrapper {
      width: 100%;
    }

    #{{ section.id }} .c-rt-button-div {
      flex-direction: column;
    }

    #{{ section.id }} .c-section-top h2 {
      font-size: 24px;
    }

    #{{ section.id }} .c-section-top .c-t-80 {
      font-size: 16px;
    }

    #{{ section.id }} .c-cta-button {
      font-size: 14px;
      padding: 10px 20px;
    }
  }
</style>

<section id="{{ section.id }}" class="c-section">
  <div class="tw-p-10 ">
    <div class="c-section-top tw-border-blue-500 tw-border-2 tw-flex tw-flex-wrap tw-justify-center tw-flex-col tw--mx-2">
      <div class=" md:tw-w-8/12"> 
        {%- if section.settings.section_top_heading != empty -%}
          <h2 class="tw-mb-5 tw-text-center">{{ section.settings.section_top_heading }}</h2>
        {%- endif -%}
      </div>
      <div class=" md:tw-w-full">
        {%- if section.settings.section_top_paragraph != empty -%}
          <div class="c-t-80">{{ section.settings.section_top_paragraph }}</div>
        {%- endif -%}
      </div>

      <div class="md:tw-w-full  tw-flex tw-gap-3 tw-m-5 md:tw-justify-center tw--mx-2 md:tw-flex-row tw-flex-col">
        <a class="tw-w-full c-cta-button {{ section.settings.button_style }} {%- if section.settings.show_second_button -%} md:tw-w-8/12 {%- else -%} md:tw-w-5/12 {%- endif -%} " 
          href="{{ section.settings.button_url | default: '#' }}">
         {{ section.settings.button_text | default: 'Get My Water Chiller' }}
       </a>
       
       {%- if section.settings.show_second_button -%}
         <a class="tw-w-full md:tw-w-8/12 tw-border-2 tw-border-[#0E83F9] tw-text-[#0E83F9] tw-font-bold tw-px-6 tw-py-3 tw-rounded-lg hover:tw-bg-gradient-to-r hover:from-[#0E83F9] hover:to-[#084D93] hover:tw-text-white hover:tw-border-white tw-transition tw-duration-300 {{ section.settings.button_style }}" 
            href="{{ section.settings.second_button_url | default: '#' }}">
           {{ section.settings.second_button_text | default: 'Learn More' }}
         </a>
       {%- endif -%}
       
        
      </div>
      
      
    </div>
    <div class="c-rt-wrapper">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {% when 'PageHeading' %}
            <h1>
              {% if block.settings.show_page_title == true %}
                {{ page.title }}
              {% else %}
                {{ block.settings.page_heading }}
              {% endif %}
            </h1>
          {% when 'Heading' %}
            <h2>{{ block.settings.heading }}</h2>
          {% when 'Paragraph' %}
            <div style="margin: {{ block.settings.paragraph_margin }}; font-weight: {{ block.settings.paragraph_font_weight }};"
            class="c-rt-paragraph">{{ block.settings.paragraph }}</div>
          {% when 'Timer' %}
            <div class="c-rt-timer">
              <p id="timer-counter"></p>
            </div>

            <script>
              var countDownDate = new Date('{{ block.settings.date }}').getTime();

              var x = setInterval(function () {
                var now = new Date().getTime();
                var distance = countDownDate - now;
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById('timer-counter').innerHTML =
                  days + 'Days ' + hours + 'H ' + minutes + 'M ' + seconds + 'S ';

                if (distance < 0) {
                  clearInterval(x);
                  document.getElementById('timer-counter').innerHTML = 'EXPIRED';
                }
              }, 1000);
            </script>
        {%- endcase -%}
      {%- endfor -%}
      {%- if buttonBlocks != empty -%}
        <div class="c-rt-button-div">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'Button' -%}
                <a class="c-rt-button c-button {{ block.settings.button_style }}" href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "C Rich Text Home No Bg",
    "blocks": [
      {
        "name": "PageHeading",
        "type": "PageHeading",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "page_heading",
            "label": "Heading",
            "default": "My heading"
          },
          {
            "type": "checkbox",
            "id": "show_page_title",
            "label": "Page Title",
            "default": false
          }
        ]
      },
      {
        "name": "Heading",
        "type": "Heading",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "My heading"
          }
        ]
      },
      {
        "name": "Paragraph",
        "type": "Paragraph",
        "limit": 50,
        "settings": [
          {
            "type": "richtext",
            "id": "paragraph",
            "label": "Paragraph",
            "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
          },
          {
            "type": "text",
            "id": "paragraph_margin",
            "label": "Paragraph margin",
            "default": "0em 0em 0em 0em"
          },
          {
            "type": "text",
            "id": "paragraph_font_weight",
            "label": "Paragraph font weight",
            "default": "inherit"
          }
        ]
      },
      {
        "name": "Button",
        "type": "Button",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Buy Now"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button Link",
            "default": "/"
          },
          {
            "type": "text",
            "id": "button_style",
            "label": "Button Style",
            "default": "c-b1"
          }
        ]
      },
      {
        "name": "Timer",
        "type": "Timer",
        "limit": 50,
        "settings": [
          {
            "type": "text",
            "id": "date",
            "label": "Date",
            "default": "Jan 5, 2025 15:37:25",
            "info": "Enter the date and time in the format: Month Day, Year Hour:Minute:Second"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Get My Water Chiller"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button Link",
        "default": "/"
      },
      {
        "type": "text",
        "id": "button_style",
        "label": "Button Style",
        "default": "c-b1"
      },
      {
        "type": "checkbox",
        "id": "show_second_button",
        "label": "Mostrar segundo botón",
        "default": false
      },
      
      {
        "type": "text",
        "id": "second_button_text",
        "label": "Second Button Text",
        "default": "Learn More"
      },
      {
        "type": "url",
        "id": "second_button_url",
        "label": "Second Button Link",
        "default": "/"
      },
      
      {
        
        "type": "select",
        "id": "blocks_alignment",
        "label": "Alignment",
        "default": "Center",
        "options": [
          {
            "value": "Left",
            "label": "Left"
          },
          {
            "value": "Center",
            "label": "Center"
          },
          {
            "value": "Right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "range",
        "id": "section_width",
        "label": "Desktop section width",
        "min": 20,
        "max": 100,
        "step": 5,
        "default": 100,
        "unit": "%"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Background image mobile"
      },
      {
        "type": "range",
        "id": "overlay",
        "label": "Background Overlay",
        "min": 0,
        "max": 1,
        "step": 0.1,
        "default": 0.5,
        "unit": "%"
      },
      {
        "type": "header",
        "content": "Section Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text color",
        "default": "#000"
      },
      {
        "type": "text",
        "id": "section_top_heading",
        "label": "Heading",
        "default": "My heading"
      },
      {
        "type": "richtext",
        "id": "section_top_paragraph",
        "label": "Paragraph",
        "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare.</p>"
      },
      {
        "type": "select",
        "id": "section_top_alignment",
        "label": "Section Top Alignment",
        "default": "center",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text alignment",
        "default": "center",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 15,
        "step": 1,
        "default": 4,
        "unit": "rem"
      }
    ],
    "presets": [
      {
        "name": "C Rich Text Home No Bg"
      }
    ]
  }
{% endschema %}
