{{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{%- liquid
  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
    assign show_mobile_slider = true
  endif
-%}
<div class="key-coparison-section {{ section.settings.custom_class }} multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="multicolumn-header">
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
         {% if section.settings.subheading != blank %}
          <div class="image-with-text__sub_heading">
                    {{ section.settings.subheading }}
            </div>
            {% endif %}
        <h2 class="title inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.title }}
        </h2>
      </div>
      </div>
    {%- endunless -%}
    
      <ul
        class="key-coparison-main"
        id="Slider-{{ section.id }}"
        role="list"
      >
        <li
            class="key-coparison-inner"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__info">
                  <div class="left-block"></div>
                  <div class="middle-block">
                    {% if section.settings.image_1 != blank %}
                    {{ section.settings.image_1 | image_url: width: 400 | image_tag: loading: 'lazy' }}
                    {% endif %}
                  </div>
                  <div class="right-block"><h2>Other</h2></div>
              </div>
            </div>
          </li>
        {%- for block in section.blocks -%}
          <li
            class="key-coparison-inner"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container">
              <div class="multicolumn-card__info">
                {%- if block.settings.text != blank -%}
                  <div class="left-block">{{ block.settings.text }}</div>
                  <div class="middle-block">
                    <img src="https://cdn.shopify.com/s/files/1/0658/3248/4942/files/image_-_2025-04-28T121532.875.png"/>
                    {% comment %}
                    <img src="https://cdn.shopify.com/s/files/1/0658/3248/4942/files/16173645_1.png"/>
                  {% endcomment %}
                      </div>
                  <div class="right-block">
                      <img src="https://cdn.shopify.com/s/files/1/0658/3248/4942/files/17253027_1_1b58d50e-c1c9-4d83-a4a0-e6884c1a54e3.png"/>
                    {% comment %}
                  <img src="https://cdn.shopify.com/s/files/1/0658/3248/4942/files/17253027_1.png"/>
                      {% endcomment %}
                      </div>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>
      
  </div>
</div>
{% schema %}
{
  "name": "Key Comparison",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Multicolumn",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Key Comparison",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}