<section class="performance">
  <div class="w-layout-blockcontainer container w-container">
    <div class="heading center">
      <div class="subtitle-section">{{ section.settings.title }}</div>
      <h2 class="title-section">{{ section.settings.heading }}</h2>
      {% if section.settings.btn-text != blank %}
      <div class="performance-action hidden-mobile">
        <a href="{{ section.settings.btn-link }}" class="btn-primary full-width-mobile w-button">{{ section.settings.btn-text }}</a>
      </div>
      {% endif %}
    </div>
    <div class="performance-row">
      {% for block in section.blocks %}
      <div class="performance-img-content-col {% if forloop.index == 2 %}invert{% endif %}">
        <img src="{{ block.settings.performance-img | image_url }}" loading="lazy" alt="" class="performance-img">
        <div class="performance-content-inner {% if forloop.index == 2 %}invert{% endif %}">
          <div class="performance-content-title"><strong>{{ block.settings.title }}</strong></div>
          <div class="performance-content-p">{{ block.settings.text }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if section.settings.btn-text != blank %}
    <div class="performance-action hidden-desktop">
      <a href="{{ section.settings.btn-link }}" class="btn-primary full-width-mobile w-button">{{ section.settings.btn-text }}</a>
    </div>
    {% endif %}
  </div>
</section>

{% schema %} 
  { 
    "name": "Performance Section",
    "settings": [
      { 
         "type": "text",
         "id":"title",
         "label": "Science Title" 
      },
      { 
         "type": "text",
         "id":"heading",
         "label": "Science Heading" 
      },
      { 
         "type": "url",
         "id":"btn-link",
         "label": "Benefits Btn Link" 
       },
       { 
         "type": "text",
         "id":"btn-text",
         "label": "Benefits Btn Text" 
       }
    ],
    "blocks": [ 
       { 
         "type": "performance-block",
         "name": "Performance Block",
         "settings": [ 
           {
              "type": "image_picker",
              "id":   "performance-img",
              "label": "Performance Image"
           },
           {
              "type": "text",
              "id":   "title",
              "label": "Performance Title"
            },
            {
              "type": "richtext",
              "id":   "text",
              "label": "Performance Text"
            }
         ] 
       } 
     ], 
    "presets":[
      {
        "name":"Performance Section" 
      } 
    ] 
  } 
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}